<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>レビュー編集</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
											    <ol class="breadcrumb mb-0">

											        <li class="breadcrumb-item">
											            <a th:href="@{/}">ホーム</a>
											        </li>

											        <li class="breadcrumb-item">
											            <a th:href="@{/shops}">店舗一覧</a>
											        </li>

											        <li class="breadcrumb-item">
											            <a th:href="@{/shops/{id}(id=${shop.id})}"
											               th:text="${shop.name}">
											            </a>
											        </li>

											        <li class="breadcrumb-item active" aria-current="page">
											            レビュー編集
											        </li>

											    </ol>
											</nav>

						<h1 class="mb-4 text-center" th:text="|${shop.getName()}のレビュー編集|"></h1>


						<form method="post" th:action="@{/reviews/update}"
							th:object="${reviewForm}">

							<input type="hidden" th:field="*{id}">

							<!--投稿内容-->

							<!--★表示-->
							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="rating" class="col-form-label text-md-left fw-bold">
										評価
									</label>
								</div>

								<div class="col-md-9">
									<div th:if="${#fields.hasErrors('rating')}"
									     class="text-danger small mb-2"
									     th:errors="*{rating}">
									</div>
									<select th:field="*{rating}" class="form-select review-star" id="rating">

										<option value="1">★☆☆☆☆</option>
										<option value="2">★★☆☆☆</option>
										<option value="3">★★★☆☆</option>
										<option value="4">★★★★☆</option>
										<option value="5">★★★★★</option>

									</select>
								</div>
							</div>

							<!--コメント-->
							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="comment" class="col-form-label text-md-left fw-bold">
										コメント
									</label>
								</div>

								<div class="col-md-9">
									<div th:if="${#fields.hasErrors('comment')}"
									     class="text-danger small mb-2"
									     th:errors="*{comment}">
									</div>
									<textarea th:field="*{comment}"
									          class="form-control"
									          id="comment"
									          rows="6"></textarea>
								</div>
							</div>

							<div class="d-flex justify-content-center gap-3 mt-4">

							    <a th:href="@{/shops/{id}(id=${shop.id})}"
							       class="btn btn-outline-secondary w-25">
							        戻る
							    </a>

							    <button type="submit"
							        class="btn text-white shadow-sm w-25 nagoyameshi-btn">
							        更新
							    </button>

							</div>
							
						</form>

					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>